
<div class=" show-page-container">
  <div class="row">
    <div class="col overview-box">
      <h1><strong>Booking Overview</strong></h1>

      <div class="circle">
      <%= cl_image_tag @booking.nanny.photo.key, class:"avatar-very-large1" %>
      </div>

      <div class="nanny-overview-text">
        <div ><strong>Name: </strong> <%= @booking.nanny.first_name %> <%= @booking.nanny.last_name %></div>
        <div><strong>Price: </strong> <%= @booking.nanny.price %> €/h</div>
        <div><strong>Age: </strong> <%= Date.today.year - @booking.nanny.year_of_birth%> years</div>
        <div><strong>Start Date: </strong> <%=@booking.start_date %></div>
        <div><strong>End Date: </strong> <%=@booking.end_date %></div>
        
      </div>

      <a class="btn btn-primary position-absolute-bottom" href="/dashboards">FINALIZE BOOKING</a>
      
    </div>
    <div class="col overview-box">
      <h1><strong>Live Chat</strong></h1>
        <div class="container-chat">
          <h1>#<%= @booking.id %></h1>
          <div id="messages" data-booking-id="<%= @booking.id %>">
            <% @booking.messages.each do |message| %>
              <div class="message-container" id="message-<%= message.id %>">
                <i class="author">
                  <span><%= message.user.first_name %></span>
                  <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
                </i>
                <p><%= message.content %></p>
              </div>
            <% end %>
        </div>

  <%= simple_form_for [ @booking, @message ], remote: true do |f| %>
  <%= f.input :content, label: false, placeholder: "Message ##{@booking.id}" %>
  <%= f.submit 'Send' %>
<% end %>
</div>
    </div>
  </div>
</div>
