<div class="container-custom">
<div class="users-page mb-3 mt-3">
  <div class="users-list mr-2">
    <%= form_tag users_path, method: :get, class: "user-search" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Write your location"%>
      <%= submit_tag "Search", class: "btn btn-primary btn-primary-form rounded-btn" %>
    <% end %>

    <div class="users-grid mb-3 mt-3">
      <% @users.each do |user| %>
        <%= link_to user_path(user), class:"hover-delete" do %>
        <div class="card-product">
          <%= cl_image_tag user.photo.key,height: 300, width: 300, class:"card-product", crop: :fill %>
          <div class="card-product-infos">
            <h2><%= user.first_name %></h2>
            <h5 class= "right">€<%= user.price %></h5>

            <% @avg_rating = Review.where(nanny_id: user.id).average(:rating) %>
            <% num = 0 %>
            <% if @avg_rating != nil %>
              <% num = num + @avg_rating.round %>
            <% end %>
            <% num.times do %>
              <i class="fas fa-star fa-lg" style = "font-size: 10px"></i> 
            <% end %>
          </div>
        </div>
      <% end %>
      <% end %>
    </div>
  </div>

    
  <div id="map"
    style="width: 100%; height: 600px; border-radius: 5%; margin-left: 50px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
</div>
