
<div class="users-page">
  <div class="users-list mb-3 mt-3">
    <%= form_tag users_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Write your location"%>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>

    <div class="users-grid mb-3 mt-3">
    <% @users.each do |user| %>
      <div class="card-product">
        <%= image_tag "zim.jpg"%>
        <div class="card-product-infos">
          <h2><%= user.first_name %></h2>
          <h5 class= "right"><%= user.price %></h5>
          <p>Rating</p>
        </div>
      </div>
      <% end %>
    </div>
  </div>

    
  <div id="map"
    style="width: 100%; height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>

