
<div class="margin-left-show">
 <%= link_to "Go back", :back, class: "btn btn-secondary" %>
 </div>
 <br>
 <br>
 <div class="row">
    <div class="show-book-card">
      <div class="column">
       <%= simple_form_for @booking do |f| %>
          <% place_date = Date.tomorrow %>
          <%  place_start_date = DateTime.new(place_date.year, place_date.month, place_date.day).change(hour: 13).strftime("%Y-%m-%d %H:%M") %>
          <%  place_end_date = DateTime.new(place_date.year, place_date.month, place_date.day).change(hour: 15).strftime("%Y-%m-%d %H:%M") %>
          <%= f.input :start_date, placeholder: place_start_date.to_s, as: :string, required: true, input_html:{class: "datepicker", value: place_start_date} %>
          <%= f.input :end_date, placeholder: place_end_date.to_s, as: :string, required: true, input_html:{class: "datepicker", value: place_end_date } %>
          <%= f.input :nanny_id, as: :hidden, input_html: {value: params[:id]} %>
          <%= f.submit "BOOK", class: "btn btn-primary btn-show" %>
        <% end %>
        <div class="show-card">
          <div class="circle-show-page">
            <%= cl_image_tag @user.photo.key, class:"avatar-very-large1", width: 300, height: 300, :gravity=>"face", crop: :thumb %>
          </div>
          <div class="show-card__info">
            <i class="fas fa-star fa-lg"></i> 
            <i class="fas fa-star fa-lg"></i>
            <i class="fas fa-star fa-lg"></i>
            <i class="fas fa-star fa-lg"></i>
            <i class="fas fa-star fa-lg"></i>
          </div> 
          <ul class="details-list1">
            <li class="large-font-show"><strong><%= @user.first_name %> <%= @user.last_name %></strong></li>
            <li><strong>Price: </strong><%= @user.price %> €/hour</li>
            <li><strong>Address: </strong><%= @user.address %></li>
            <li><strong>Max. capacity: </strong><%= @user.max_cap %></li>
            <li><strong>Age: </strong><%= Date.today.year - @user.year_of_birth%> years</li>
            <li><strong>Bio: </strong><%= @user.bio %></li>
            <div>
          </ul>
          
        </div>

      </div>
    </div>
    <div class="column date-picker-column">
      <div id="calendar" data-agenda="<%= @schedule %>" >    
    </div>
  </div>
  <div class="row">
    <div class="column-reviews">
        <h2 class="reviews-header">Reviews</h2>

      <div class="reviews">
          <% @reviews.each do |review| %>
          <div class="review-card">
          <div class="review-parent">
            <div class="circle-navbar">
                 <% if current_user.photo.attached? %>
                 <%= cl_image_tag current_user.photo.key, class: "avatar-very-large1", width: 300, height: 300, :gravity=>"face", crop: :thumb %>
                 <% else %>
                 <%= image_tag("question_mark.jpg", size: "50x50")%>  
                 <% end %>
            </div> 
            <div class="review-info">
              <div>
                <strong style="margin-left: 5px;"><%= review.parent.first_name %></strong>
              </div> 
              <h6 style="margin: 0;">Rating: <%= review.rating %></h6>
            </div> 
          </div>  
          <%= review.content %>
          </div>
          <% end %> 
      </div>
      <br>
    </div>
  </div>
  </div>
<%#= javascript_pack_tag 'init_calendar', 'data-turbolinks-track': 'reload', defer: true %>