<div class="container">
<div class="show-book-card">
<div class="conainer card-show-2">
    <div class="show-card">
      <%= cl_image_tag @user.photo.key, class:"avatar-very-large", crop: :fill %>
      <ul>
        <li>Name: <%= @user.first_name %> <%= @user.last_name %></li>
        <li>Price: <%= @user.price %> €/h</li>
        <li>Address: <%= @user.address %></li>
        <li>Max. capacity: <%= @user.max_cap %></li>
        <li>Year of birth: <%= @user.year_of_birth%></li>
      </ul>

      <div class="show-card__info">
        <i class="fas fa-star"></i> 
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div> 

    </div>
      <div class="book-card">
    <%= simple_form_for @booking do |f| %>
      <%= f.input :start_date %>
      <%= f.input :end_date %>
      <%= f.input :nanny_id, as: :hidden, input_html: {value: params[:id]} %>
      <%= f.submit "BOOK", class: "btn btn-primary" %>
    <% end %>
  </div>
  </div>
  
  <div id="calendar">
  </div>
    

</div>


</div>