<div class="margin-left-show">
 <%= link_to "Go back", :back, class: "btn btn-secondary" %>
 </div>
<div class="container-custom d-flex style-margin">


  <div class="booking"> 
    <% @bookings.each do |booking| %>
      <div class="bookings">
        <% if current_user == booking.parent %>
          <div class="nanny-card">
            <%= link_to user_path(booking.nanny), class:"hover-delete" do %>
              <div class="card-product">
                <%= cl_image_tag booking.nanny.photo.key, class:"card-product", crop: :fill %>
                <div class="card-product-infos">
                  <h2><%= booking.nanny.first_name %></h2>
                  <h5 class= "right">€<%= booking.nanny.price %></h5>
                  <p>Rating</p>
                </div>
              </div>
            <% end %> 
            <div class= "booking__btns">
            <%if booking.status == "pending" %>
            <h5 class="status">Status: Pending</h5>
            
            <% elsif booking.status == "confirmed" %>
            <h5 class="status">Status: Confirmed<h5>
            <% end %>
            <div class="buttons-dashboard-parent">
              <%= link_to 'cancel booking', booking_path(booking), class: "btn btn-primary", method: :delete, data: { confirm: "Are you sure?" } %>
              <%= link_to "show booking", booking_path(booking), class: "btn btn-secondary" %>
              </div>
            </div>
          </div>
        <% elsif current_user == booking.nanny %>
          <div class="parent-card">
            <div class="card-product">
              <%= cl_image_tag booking.parent.photo.key, class:"card-product", crop: :fill %>
              <div class="card-product-infos">
                <h2><%= booking.parent.first_name %></h2>
              </div>
              <div class="buttons-accept-decline">
              <% if booking.status == "pending" %>
                <%= link_to "accept", approve_booking_path(booking), method: :post, class: "btn btn-success mx-2" %>
                <%= link_to "decline", decline_booking_path(booking), method: :post, class: "btn btn-danger mx-2" %>
            <% else %>
            <% end %>
            </div>
            
            </div>
              <%= link_to 'cancel booking', booking_path(booking), class: "btn btn-flat", method: :delete, data: { confirm: "Are you sure?" } %>

          </div>
          
        <% end %>
      </div>
    <% end %>
  </div>
  <div id="calendar" class= "custom-calendar" data-agenda="<%= @schedule %>" >    
  </div>
</div>


